.withEntries {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.listOfIngredients {
  display: flex;
  gap: 8px;
}

.singleEntry {
  margin: 16px;
  background-color: aquamarine;
}
