.withEntries {
  width: 100%;
  display: flex;
  justify-content: space-between;

  & > * {
    margin-top: 24px;
  }

  & > div > ul > a:hover {
    text-decoration: none;
  }
}
.listOfIngredients {
  display: flex;
  gap: 8px;
}

.singleEntry {
  margin: 16px;
  margin-left: 32px;
  border: 2px solid #5243ac;
  padding: 8px;
  min-width: 25rem;
  border-radius: 1.5%;
  background-color: rgba(82, 67, 172, 0.9);
  color: white;
  box-shadow: 8px 8px 5px #c6c6c6;

  & > * {
    padding: 4px;
  }
}
