@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
}

header {
  background-color: #c7d2fe;
}

nav {
  display: flex;
  padding: 24px;
  font-size: 1.2rem;
  justify-content: space-between;
  gap: 24px;
  margin-left: 32px;
  margin-right: 32px;

  & > .pages {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
}

a {
  color: black;
  text-decoration-line: underline overline;
  text-underline-offset: 8px;
}
a:hover,
a:focus-visible {
  background-color: #fef2c3;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: #c7d2fe;
  padding: 16px;
  width: 100%;
  font-size: 0.75rem;
}

.auth {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}
