@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
}

header {
  background-color: #5243ac;
  color: white;
}

nav {
  display: flex;
  padding: 24px;
  font-size: 1.2rem;
  justify-content: space-between;
  gap: 24px;
  margin-left: 32px;
  margin-right: 32px;

  & > .pages {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
}

a {
  color: white;
  text-decoration: none;
}
a:hover,
a:focus-visible {
  text-decoration-line: underline;
  text-underline-offset: 8px;
}

footer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: #5243ac;
  color: white;
  padding: 24px 32px;
  width: 100%;
  font-size: 0.75rem;
}

.auth {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

button {
  padding: 8px;
  padding-right: 16px;
  padding-left: 16px;
  border: none;
}
button:hover,
:focus-visible {
  background-color: #5243ac;

  color: white;
}
