.symptoms {
  & > ul {
    max-height: 400px;
    overflow-y: scroll;
    margin-top: 16px;
    min-width: 300px;
    border: 1px solid #5243ac;
    background-color: rgba(82, 67, 172, 0.9);
    color: white;
    border-radius: 2%;
    padding: 8px;
    box-shadow: 8px 8px 5px #c6c6c6;
  }
}

.readOnlyLists {
  margin-left: 56px;
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  row-gap: 16px;
  column-gap: 8px;

  justify-items: start;
}

.hello {
  margin-left: 56px;
  margin-top: 24px;

  & > a {
    color: black;
    text-decoration-line: underline;
    text-underline-offset: 4px;
  }
}
