.symptoms {
  & > ul {
    max-height: 400px;
    overflow-y: scroll;
    margin-top: 16px;
    min-width: 300px;
  }
}

.readOnlyLists {
  margin-left: 24px;
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  row-gap: 16px;
  column-gap: 8px;

  justify-items: center;
}
