.buttonLikeLink {
  background-color: #5243ac;
  color: white;
  border: none;
  padding: 0 !important;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;

  &:hover,
  &:focus-visible {
    text-decoration-line: underline;
    text-underline-offset: 8px;
  }
}
