.card {
  margin: auto;
  margin-top: 48px;
  background-color: #5243ac;
  color: white;
  border-radius: 2%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px;
  box-shadow: 8px 8px 5px #c6c6c6;

  & > label > input:focus-visible {
    background-color: white;
    color: black;
  }

  & > * {
    & > * {
      margin-left: 8px;
    }
  }

  button {
    align-self: flex-end;
    padding: 8px 16px;
    border-radius: 5%;
    margin-top: 8px;

    &:hover {
      background-color: #fae48b;
      color: black;
    }
  }
}
