.wrapper {
  min-height: 100vh;

  & > div {
    margin: auto;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 2px solid #5243ac;
    padding: 16px;
    max-width: 50%;
    border-radius: 1%;
    background-color: #5343ade6;
    color: white;
    box-shadow: 8px 8px 5px #c6c6c6;

    & > button {
      align-self: flex-end;
      min-width: 100px;
      font-stretch: expanded;

      &:hover,
      :focus-visible {
        background-color: #fae48b;
        color: black;
      }
    }
  }
}
.lists {
  display: flex;
  gap: 8px;
}
