.form {
  display: flex;
  margin: 16px;
  flex-direction: column;
  gap: 8px;
}
.symptomsInput {
  display: flex;
  gap: 16px;

  &:first-child {
    align-items: center;
  }

  & > .select {
    flex: 2;
  }
}
