.form {
  display: flex;
  margin: 48px;
  flex-direction: column;
  gap: 16px;

  .dish {
    margin-left: 16px;

    &:focus-visible {
      background-color: white;
      color: black;
    }
  }
}
.symptomsInput {
  display: flex;
  gap: 16px;

  &:first-child {
    align-items: center;
  }

  & > .select {
    flex: 2;
  }
}

.note {
  margin-left: 8px;
  overflow: auto;
  min-width: 250px;

  &:focus-visible {
    background-color: white;
    color: black;
  }
}
.noteWrapper {
  display: flex;
}

.button {
  padding: 8px;
  width: 100%;
  border: 1px solid black;
}
